body {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.navbar{
    background-color: #999999;
    border: solid black;
}
.navbar-header {
    font-size: 2em;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}

#chicken, #beef, #sushi {
    background-color: #999999;
}
