* {
    box-sizing: border-box;
}
body {
    font-family: 'Courier New', Courier, monospace;   
}
h1 {
    text-align:center;
}
h3 {
    border: black solid;
    text-align: right;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
    
}
div {
    border: black solid;
    padding-left: 20px;
    background-color: #999999;
    width: 30%;
    float:left;
    margin: 1.5%;
}
#chicken h3 {
    background-color: #d59898;
}
#beef h3 {
    color: white;
    background-color: #c14543;
}
#sushi h3 {
    background-color: #e5d198;
}
p {
    font-weight: 800;
}