body {
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    text-align:center;
}
h3 {
    border: black solid;
    text-align: right;
}
div {
    border: black solid;
    background-color: #999999;
}
#chicken h3 {
    background-color: #d59898;
}
#beef h3 {
    color: white;
    background-color: #c14543;
}
#sushi h3 {
    background-color: #e5d198;
}
p {
    font-weight: 800;
}