* {
    box-sizing: border-box;
}
body {
    font-family: 'Courier New', Courier, monospace;   
}
h1 {
    text-align:center;
    font-size: 175%;
}
div {
    border: black solid;
    padding-left: 20px;
    background-color: #999999;
    width: 30%;
    max-height: 175px;
    overflow:hidden;
    float:left;
    margin: 1.5%;
}
h3 {
    display: inline;
    float: right;
    border: black solid;
    border-top: 0px;
    border-right:0px;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0;
    font-size: 125%;
    
}

#chicken h3 {
    background-color: #d59898;
}
#beef h3 {
    color: white;
    background-color: #c14543;
}
#sushi h3 {
    background-color: #e5d198;
}
p {
    font-weight: 800;
    float: right;
    overflow: hidden;
}
@media (min-width: 992px) {                             /*desktop*/
    body {
        color: red;
    }
}
@media (min-width: 768px) and (max-width: 991px) {      /*tablet*/
    body {
        color: black;
    }
}
@media (max-width: 767px) {                             /*mobile*/
    body {
        color: red;
    }
}